.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 1000;
    font-family: Poppins;
    color: white;
    overflow: hidden;
}

.loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loader-spinner {
    animation: spin 2s linear infinite;
    height: 64px;
    width: 64px;
    color: #1B48DA;
}

.loader-circle {
    opacity: 0.25;
}

.loader-path {
    opacity: 0.75;
}

.loader-text {
    margin-top: 1rem;
    color: white;
    font-size: 1rem;
    font-weight: 600;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}